<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Day planner!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="/assets/css/burger_style.css">
</head>
<body>
    {{{ body }}}
</body>
</html>