<img src="/assets/img/burger.png" alt="burger.png">

<!-- show the whole burgers -->
<div id="toEat">
    <h2>Burger to Eat</h2>
    <ul>
    {{#each burgers}}
        {{#unless devoured}}
        <li>{{burger_name}}<button data-id="{{id}}">Devour it!!</button></li>
        {{/unless}}
    {{/each}}
    </ul>
</div>

<div id="alreadyEaten">
    <h2>Burger already Eaten</h2>
    <ul>
    {{#each burgers}}
        {{#if devoured}}
        <li>{{burger_name}}</li> 
        {{/if}}
    {{/each}}
    </ul>
</div>

<!-- order a new burger -->
<form>
    <textarea type="text" name="burger"></textarea> 
    <input type="submit" id="submit" value="Submit">
    <h5>Enter a burger you want to eat Click the "Submit" button</h5>
</form>

<script>
$(function() {
    /* when ordering a new burger */
    $("#submit").on("click", function(e) {
    e.preventDefault();
    $.ajax("/api/burgers/", {
      type: "POST",
      data: {burger_name:$("[name=burger]").val().trim()}
    }).then(
      function() {
        console.log("making a new burger");
        location.reload();
      }
    );
  });

  /* when eating a burger */  
  $("button").on("click", function() {
    var id = $(this).data("id");
    $.ajax("/api/burgers/" + id, {
      type: "PUT",
    }).then(
      function() {
        console.log("I'm eating");
        location.reload();
      }
    );
  });
});
</script>